.fullEditWrapper {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 740px;
    border: none;
}

.fullEdit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #260d19;
    min-height: 700px;
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 20px 20px 30px;
}

.fullEditHead {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.fullEditMidWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
    gap: 20px;
}

.fullEditMenuWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.fullEditMenuSpan {
    font-size: 0.8rem;
}

.fullEditMenuButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    background: #381325;
    letter-spacing: 1px;

    width: 170px;
    padding: 5px 5px 5px 10px;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    gap: 15px;
}

.fullEditMenuButton:hover {
    background: #8d325f;
}

.fullEditDescriptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.fullEditDescriptionHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.modalWindowTextArea, .modalWindowTextAreaDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px 20px;
    background: #381325;
    min-height: 40px;
    min-width: 600px;
    resize: none;
    border: none;
    font-size: 1rem;
    font-family: Arial, serif;
    outline: none;
    border-radius: 8px;
}

.modalWindowTextAreaDescription {
    min-width: 446px;
    margin-left: 24px;
}

.taskTextArea:focus {
    border: none;
    border-radius: 8px;
    cursor: text;
}

.modalWindowCloseButton {

    background: transparent;
    border: none;

    padding: 12px 12px 8px;
    border-radius: 25px;

    cursor: pointer;
}

.modalWindowCloseButton:hover {
    background: #8d325f;
}

.modalWindowTitleSVG {
    margin-right: 5px;
    padding-top: 5px;
}
