.fullEditWrapper {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 740px;
    border: none;
}

.fullEdit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #260d19;
    min-height: 700px;
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 20px 20px 30px;
}

.fullEditHead {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.fullEditMidWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    gap: 20px;
}

.fullEditMenuWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.fullEditMenuSpan {
    font-size: 0.8rem;
}

.fullEditMenuButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    background: #381325;
    letter-spacing: 1px;

    width: 170px;
    padding: 10px 5px 5px 10px;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    gap: 15px;
}

.fullEditMenuButton:hover {
    background: #8d325f;
}

.fullEditDivider {
    color: #DBA498;
    background: #DBA498;
    width: 170px;
}

.fullEditDescriptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.fullEditDescriptionHeader, .fullEditDescriptionHeader_DeadlineNotDone, .fullEditDescriptionHeader_DeadlineDone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.fullEditDescriptionHeader_DeadlineNotDone, .fullEditDescriptionHeader_DeadlineDone {
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    background: rgba(89, 26, 58, 0.8);
    cursor: pointer;
}

.fullEditDescriptionHeader_DeadlineDone {
    background: rgba(26, 89, 29, 0.8);
}

.fullEditDescriptionHeader_DeadlineNotDone:hover {
    background: rgb(121, 35, 76);
}

.fullEditDescriptionHeader_DeadlineDone:hover {
    background: rgb(42, 145, 50);
}

.fullEditDescriptionHeader_Label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
}

.modalWindowTextArea, .modalWindowTextAreaDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px 20px;
    background: #381325;
    min-height: 40px;
    min-width: 600px;
    resize: none;
    border: none;
    font-size: 1rem;
    font-family: Arial, serif;
    outline: none;
    border-radius: 8px;
}

.modalWindowTextAreaDescription {
    min-width: 446px;
    margin-left: 24px;
}

.taskTextArea:focus {
    border: none;
    border-radius: 8px;
    cursor: text;
}

.modalWindowCloseButton {

    background: transparent;
    border: none;

    padding: 12px 12px 8px;
    border-radius: 25px;

    cursor: pointer;
}

.modalWindowCloseButton:hover {
    background: #8d325f;
}

.modalWindowTitleSVG {
    margin-right: 5px;
    padding-top: 5px;
}

.fullEditAddMarkButton, .fullEditMarkButton, .subscribeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #672244;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    cursor: pointer;

    border: none;
    border-radius: 5px;
}

.fullEditAddMarkButton {
    padding-left: 10px;
    width: 30px;
}

.fullEditAddMarkButton:hover, .subscribeButton:hover {
    background: #8d325f;
}

.subscribeButton {
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #48182f;
    width: 140px;
}

.fullEditMarkButton {
    background: transparent;
    width: 100%;
    min-height: 30px;
    opacity: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fullEditAddMarkButton:hover {
    background: #8d325f;
    opacity: 100%;
}

.fullEditMarksWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: calc(100% - 100px);
}

.fullEditMarksTaskMark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    min-width: 40px;
    min-height: 30px;
    opacity: 85%;
    max-width: 500px;

    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

.fullEditMarksTaskMark:hover {
    opacity: 100%;
}

.fullEditMarksTaskSpanContent {
    width: 300px;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

.checkBoxLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 490px;

    border-radius: 6px;
    background: transparent;
}

.checkBoxLabel:hover {
    background: #8d3c62;

}

.checkBoxSpan {
    padding-left: 10px;
    user-select: none;
}

.checkBoxIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.checkBoxIconDates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkBoxIconContext, .checkBoxIconDates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.checkBoxIconContext {
    height: 15px;
    width: 15px;
}

.checkBoxIconDates:hover, .checkBoxIconContext:hover {
    background: #da6099;
    border-radius:15px;
}

.checkBoxAddButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 8px;

    background: #48182f;

    cursor: pointer;
}

.checkBoxAddButton:hover {
    background: #832854;
}



@media screen and (min-width: 300px) {
    .fullEditMenuSpan {
        display: none;
    }
    .fullEditWrapper {
        width: 370px;
    }
    .fullEditMenuButton {
        width: 36px;
    }
    .fullEditDivider {
        width: 36px;
    }
    .modalWindowTextArea {
        min-width: 230px;
    }
    .modalWindowTextAreaDescription {
        min-width: 160px;
    }
}

@media screen and (min-width: 600px) {
    .fullEditMenuSpan {
        display: flex;
    }
    .fullEditWrapper {
        width: 740px;
    }
    .fullEditMenuButton {
        width: 170px;
    }
    .fullEditDivider {
        width: 170px;
    }
    .modalWindowTextArea {
        min-width: 600px;
    }
    .modalWindowTextAreaDescription {
        min-width: 446px;
    }
}