.contentDateWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;

    /*border: #8d325f 1px solid;*/
    /*border-radius: 16px;*/
}

.contentDate_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
}

.contentDate_exit {
    position: absolute;
    right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
    border: none;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
}

.contentDate_exit:hover {
    background: rgba(141, 60, 98, 0.5);
}

.contentDate_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
}

.contentDate_inputLayout {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: space-between;
    width: 90%;
}

.contentDate_saveButton, .contentDate_deleteButton {
    height: 40px;
    width: 90%;

    border: none;
    border-radius: 8px;
    background: #32404d;
    cursor: pointer;
    margin-bottom: 5px;

    font-size: 1rem;
}

.contentDate_deleteButton {
    background: #4d3232;
}

.contentDate_saveButton:hover {
    background: #6089f3;
}

.contentDate_deleteButton:hover {
    background: #f36060;
}

.contentDate_saveButton:active {
    background: #32404d;
}

.contentDate_deleteButton:active {
    background: #4d3232;
}
