.editTaskButton {
    display: none;
    position: absolute;
    top: 3px;
    margin-left: 83%;
    margin-top: 3px;
    padding-top: 3px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: transparent;
    border: none;
}

.editTaskButton:hover {
    cursor: pointer;
    background: #4d1a33;
}

.taskWrapper {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 3px 12px;
    margin-right: 10px;
    background: #381325;
    cursor: pointer;
    margin-bottom: 5px;
}

.taskWrapper:hover {
    box-shadow: 0 1px 0 #de609a,
    0 -1px 0 #de609a,
    1px 0 0 #de609a,
    -1px 0 0 #de609a;
}

.taskWrapper:hover .editTaskButton {
    display: unset;
}

.taskText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2px 0;
    background: #381325;
    min-height: 30px;
    width: 230px;
}

.taskContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.cardEditPopperWrapper {
    display: flex;
    flex-direction: column;
    color: #dc9f92;
    background: #5b1f3c;
    min-height: 40px;
    border-radius: 10px;
}

.cardEditPopper {
    display: flex;
    min-width: 275px;
    flex-direction: column;

}

.cardEditPopperRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.cardEditPopperColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardEditPopperSaveButton {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 100px;
}

.cardEditPopperMenuWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    gap: 5px;
}

.cardEditPopperMenuButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    background: #381325;
    letter-spacing: 1px;
    font-size: 0.85rem;
}

.cardEditPopperMenuButton:hover {
    background: #79284f;
}

.taskTextArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px 10px;
    background: #381325;
    min-height: 60px;
    resize: none;
    border: none;
    font-size: 1rem;
    font-family: Arial, serif;
    outline: none;
    border-radius: 8px;

}

.taskTextArea:focus {
    border: none;
    border-radius: 8px;
    cursor: text;
}

.marksPopper {
    display: flex;
    padding-left: 10px;
    width: 250px;
    cursor: pointer;
}

.fullEditWrapper {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 740px;
    border: none;
}

.fullEdit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #260d19;
    min-height: 700px;
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 20px 20px 30px;
}

.fullEditHead {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.fullEditMidWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
    gap: 20px;
}

.fullEditMenuWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fullEditMenuSpan {
    font-size: 0.8rem;
}

.fullEditMenuButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    background: #381325;
    letter-spacing: 1px;

    width: 170px;
    padding: 10px 10px 10px 15px;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    gap: 15px;
}

.fullEditMenuButton:hover {
    background: #8d325f;
}

.fullEditDescriptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.fullEditDescriptionHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.modalWindowTextArea, .modalWindowTextAreaDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px 20px;
    background: #381325;
    min-height: 40px;
    min-width: 600px;
    resize: none;
    border: none;
    font-size: 1rem;
    font-family: Arial, serif;
    outline: none;
    border-radius: 8px;
}

.modalWindowTextAreaDescription {
    min-width: 446px;
    margin-left: 24px;
}

.taskTextArea:focus {
    border: none;
    border-radius: 8px;
    cursor: text;
}

.modalWindowCloseButton {

    background: transparent;
    border: none;

    padding: 12px 12px 8px;
    border-radius: 25px;

    cursor: pointer;
}

.modalWindowCloseButton:hover {
    background: #8d325f;
}

.modalWindowTitleSVG {
    margin-right: 5px;
    padding-top: 5px;
}

.taskMarksWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.taskMark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    min-width: 36px;
    min-height: 8px;
    opacity: 70%;
    max-width: 240px;
}

.taskMark:hover {
    opacity: 100%;
}

.taskSpanContent {
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

.my-node-enter {
    max-width: 36px;
    opacity: 0;
}
.my-node-enter-active {
    max-width: 1036px;
    opacity: 1;
    transition: max-width 200ms;
}
.my-node-exit {
    max-width: 1036px;
    opacity: 1;
}
.my-node-exit-active {
    max-width: 36px;
    opacity: 0;
    transition: max-width 200ms;
}
