.mainBaseWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: #1f1f1f;*/
}

.toolBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    background: #966d64;
    height: 65px;
    overflow: hidden;
}

.toolBar_contentLeft {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.toolBar_contentRight {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.boardTitleInput {
    min-width: 200px;
    width: auto;
    max-width: 70%;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 5px 5px 10px;
    font-size: 1.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.boardTitleInput:focus {
    background: #60443e;
}

.boardTitleInput::placeholder {
    color: white;
}

.cardList {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: calc(100% - 115px);
    overflow-y: auto;
    scrollbar-color: #8d3c62 #59263e;
    scrollbar-width: auto;
}


.boardOl {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-left: 10px;
    list-style-type: none;
    gap: 10px;
    height: auto;
    margin-right: 10px;
}

.addNewCardButtonWrapper {
    /*margin-right: 10px;*/
    /*padding-left: 10px;*/

}

.addNewCardButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: #622542;
    border: none;
    border-radius: 15px;
    color: #d3a9a0;
    font-size: 1rem;

    margin-right: 10px;

    height: 50px;
    min-width: 300px;
}

.addNewCardButton:hover {
    background: #913661;
    cursor: pointer;
}

.addNewCardButton:active {
    background: #913661;
}

@media screen and (min-width: 0px) {
    .boardTitleInput {
        max-width: 15%;
        font-size: 0.9rem;
        overflow: hidden;
    }
}

@media screen and (min-width: 600px) {
    .boardTitleInput {
        max-width: 70%;
        font-size: 1.1rem;
    }
}