
.taskBaseButtonWrapper {
    display: flex;
    flex-direction: column;
    background: #260d19;
    min-height: 300px;
    min-width: 300px;
    border-radius: 20px;
}

.cardEditPopperMenuButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    background: #381325;
    letter-spacing: 1px;
    font-size: 0.85rem;
}

.cardEditPopperMenuButton:hover {
    background: #79284f;
}

.buttonTextMobile {

}

/*check check*/
@media screen and (min-width: 300px) {
    .cardEditPopperMenuButton {
        flex-direction: column;
        justify-content: center;
        padding: 14px;
        gap: 0;
    }
    .buttonTextMobile {
        font-size: 0;
    }
}

@media screen and (min-width: 600px) {
    .cardEditPopperMenuButton {
        flex-direction: row;
        justify-content: flex-start;
        padding: 10px;
        gap: 10px;
    }
    .buttonTextMobile {
        font-size: 0.85rem;
    }
}