#root {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.pallete_colors {
  --lightGray-color: #9AA7B7;
  --purple-color: #59263e;
  --orange-color: #DBA498;
  --rose-color: #EFCDD6;
  --blue-color: #14344A;
}
